/*START:colors for demo , you can give whatever you like*/
$color_primary_main: #2f71c1;

$color_primary_dark_2_hover: #063e7b;
$color_text_primary: #333;
$color_text_secondary: #fff;
/*END:colors for demo , you can give whatever you like*/

/*START: spacing for demo , you can give whatever you like*/
$v_spacing: 8px;
$h_spacing: 8px;
/*END: spacing for demo , you can give whatever you like*/

/*START:width for the play pause buttons in left side of ticker */

$ticker_ctrl_btn_width_sm: 29px;
$ticker_ctrl_btn_width_md: 29px;
$ticker_ctrl_btn_width_lg: 29px;
/*END:width for the play pause buttons in left side of ticker */

$ticker_top_pad_sm: 2px;
$ticker_top_pad_md: 2px;
$ticker_top_pad_lg: 2px;

$ticker_bot_pad_sm: 2px;
$ticker_bot_pad_md: 2px;
$ticker_bot_pad_lg: 2px;

.full_bg {
	padding-right: env(safe-area-inset-right);
	padding-left: env(safe-area-inset-right);
	max-width: 1600px;
	margin-top: 50px;
}

.inner_cont {
	border: 1px solid transparentize($color_primary_dark_2_hover, (1 - 0.38));
	position: relative;
	display: flex;
}
.scroller_outer_cont {
	flex: 0 1 auto;
	width: 100%;

	padding: $ticker_top_pad_sm $ticker_ctrl_btn_width_sm $ticker_bot_pad_sm 0;
	@media only screen and (min-width: 768px) {
		padding: $ticker_top_pad_md 0 $ticker_bot_pad_md $ticker_ctrl_btn_width_md;
	}

	@media only screen and (min-width: 1280px) {
		padding: $ticker_top_pad_lg 0 $ticker_bot_pad_lg $ticker_ctrl_btn_width_lg;
	}
}

.title {
	background-color: $color_primary_dark_2_hover;
	color: $color_text_secondary;
	padding: 0.25 * $h_spacing $v_spacing 0.25 * $h_spacing 4 * $v_spacing;

	flex: 0 0 auto;
	position: absolute;
	right: -1px; //some display issue in windows, so just to offset this is based on trial and error
	height: 100%;
	align-items: center;
	display: none;
	z-index: 2;

	@media only screen and (min-width: 768px) {
		display: flex;
	}
}
.item {
	display: flex;
	padding-left: 2 * $v_spacing;

	align-items: center;

	@media only screen and (min-width: 768px) {
		padding-left: 3 * $v_spacing;
	}

	svg {
		height: auto;
		width: 10px;
		transform: rotate(270deg);
		fill: $color_primary_main;
	}
}
.text {
	// white-space: nowrap;
	padding-left: 1.5 * $v_spacing;
	// padding-right: 1.5 * $v_spacing;
	border-left: 1px solid $color_primary_main;
	// border-right: 1px solid $color_primary_main;
	@media only screen and (min-width: 768px) {
		padding-left: 2 * $v_spacing;
	}

	color: $color_text_primary;
	&:focus {
		color: $color_text_primary;
	}
	&:active {
		color: $color_primary_main;
	}
	@media screen and (any-pointer: fine) and (any-hover: hover) {
		&:hover {
			color: $color_primary_main;
		}
	}
}
.ctrl_cont {
	background-color: $color_primary_dark_2_hover;
	padding: 0 8px;
	display: none;
	align-items: center;
	cursor: pointer;
	position: absolute;
	height: 100%;
	z-index: 1;
	align-items: center;
	justify-content: center;
	right: -1px; //some display issue in windows, so just to offset this is based on trial and error
	@media only screen and (min-width: 768px) {
		left: -1px; //some display issue in windows, so just to offset this is based on trial and error
		right: auto;
	}
	&:focus {
		background-color: $color_primary_main;
	}
	&:active {
		background-color: $color_primary_main;
	}
	@media screen and (any-pointer: fine) and (any-hover: hover) {
		&:hover {
			background-color: $color_primary_main;
		}
	}
	svg {
		width: 12px;
		height: 12px;
		fill: $color_text_secondary;
	}
}
.scroller_overflown {
	.ctrl_cont {
		display: flex;
	}
}

.scroller_contained {
	.title {
		position: relative;
	}
	.inner_cont {
		width: 100%;
		overflow: hidden;
	}
	.scroller_outer_cont {
		@media only screen and (max-width: 767px) {
			padding-right: $v_spacing;
		}
	}
}
